



<div  style=" background-color:#1ABC9C;"
class="home d-flex justify-content-center align-items-center flex-column h-100 text-whit py-5">
<img  [style]="'width:250px;'"    [src]="imgSrc" alt="">

<h2 class="text-uppercase fs-1 fw-bolder m-0 text-white pt-5">start framework</h2>
<div class="home">
</div>

<div class="divider">
  <div class="line"></div>
  <i class="fas fa-star"></i>
  <div class="line"></div>
</div>


<p class=" mb-5   text-white">Graphic Artist - Web Designer - Illustrator</p>
</div>

