<footer class=" footer     text-white text-center text-lg-start   py-5">
  <!-- Grid container -->
  <div class="container p-5">
    <!--Grid row-->
    <div      class="row text-center ">
      <!--Grid column-->
      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <h5   style="font-size:26px"    class="text-uppercase">LOCATION</h5>

        <p>
          2215 John Daniel Drive
        </p>
        <P> Clark, MO 65243 </P>
      </div>



      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <h5 style="font-size:26px"     class="text-uppercase">AROUND THE WEB</h5>

        <!-- <p>
          2215 John Daniel Drive
        </p>
        <P>Clark, MO 65243</P> -->


        <div class="social-icons  mt-4 ">
          <a href="#"><i class="fab fa-facebook-f  "></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fas fa-globe"></i></a>
      </div>




      </div>









      <div class="col-lg-4 col-md-4 mb-4 mb-md-0 text-center">
        <h5  style="font-size:26px"   class="text-uppercase ">ABOUT FREELANCER</h5>

        <p >
          Freelance is a free to use, licensed Bootstrap theme created
          by Route
        </p>

      </div>

    </div>

  </div>


  <!-- <div class="text-center p-4 " style="background-color: #1A252F;">
Copyright © Your Website 2021
  </div> -->
  <!-- Copyright -->
</footer>
<div class="text-center p-4 text-white  font-size:20pxpx " style="background-color: #1A252F;">
  Copyright © Your Website 2021
    </div>
