<nav
  class="navbar navbar-expand-sm navbar-dark  py-4"
>
  <div class="container">
    <a  style="font-size: 32px;  font-weight:700;"     class="navbar-brand" href="#">START FRAMEWORK</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li      class="nav-item">

        </li>
        <li      style="font-size: 16px;  font-weight:700; "     class="nav-item text-white">
          <a class="nav-link"    routerLinkActive="activ"               routerLink="/about">ABOUT</a>
        </li>
        <li   style="font-size: 16px;  font-weight:700;"       class="nav-item">
          <a class="nav-link"        routerLinkActive="activ"                    routerLink="/portfolio">PORTFOLIO</a>
        </li>
        <li    style="font-size: 16px;  font-weight:700;"         class="nav-item">
          <a class="nav-link"       routerLinkActive="activ"            routerLink="/contact">CONTACT</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

